<submenu class={ slidedown: slideDown, slideup: slideUp, toleft: true }>
  <ul if={ slideDown && results } class="highlights">
    <li each={ results }>
      <a href="javascript:void(0);" onclick={ moveToPlace } data-id={ id }>
        { name } <i>{ place }</i>
      </a>
    </li>
  </ul>

  <ul if={ slideDown && !results } class="submenu">
    <li>
      <a href="/isolated" onclick={ moveToPlace }>Lugares isolados</a>
    </li>
    <li>
      <a href="/places" onclick={ moveToPlace }>Lugares importados</a>
    </li>

    <li each={ types } class="kind">
      <div class="round pin-{ slug }">
        <input type="checkbox" id={ slug } name={ slug } onchange={ moveToPlace } checked={ checked }/>
        <label for={ slug }></label>
      </div> { name }
    </li>

  </ul>

  <script>
 
    var typesTimeout = 0;

    moveToPlace (e) {
      var item = Zepto(e.target),
       checked = [];

      if (e.type != 'change')
        this.parent.toggleMenu();

      if (item.data('id'))
        router.go(
          '/'+ (location.pathname.indexOf('isolated') > -1 ? 'isolated' : 'places') +
          '#'+ item.data('id')
        );

      if (item.prop('type') != 'checkbox') return;

      Zepto('li input[type=checkbox]').each(function (index, node) {
        if (node.checked) checked.push(node.name);
      });

      if (typesTimeout)
        clearTimeout(typesTimeout);

      typesTimeout = setTimeout(function () {
        localStorage.setItem('peabiru-types', JSON.stringify(checked));
        router.go(location.pathname + (location.hash.length > 2 ? location.hash : ''));
      }, 800);
    }
  </script>
</submenu>
