@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: 'peabiru';
  src: url('/font/peabiru.eot?33164772');
  src: url('/font/peabiru.eot?33164772#iefix') format('embedded-opentype'),
       url('/font/peabiru.woff2?33164772') format('woff2'),
       url('/font/peabiru.woff?33164772') format('woff'),
       url('/font/peabiru.ttf?33164772') format('truetype'),
       url('/font/peabiru.svg?33164772#peabiru') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before, [class*=' icon-']:before {
  font-family: 'peabiru';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-osm-circled:before { content: '\e800'; }
.icon-star:before { content: '\e801'; }
.icon-star-empty:before { content: '\e802'; }
.icon-ok:before { content: '\e803'; }
.icon-attention:before { content: '\e804'; }
.icon-cw-circled:before { content: '\e805'; }
.icon-cog:before { content: '\e806'; }
.icon-pause-circled:before { content: '\e807'; }
.icon-cog-circled:before { content: '\e808'; }
.icon-cancel:before { content: '\e809'; }
.icon-cw:before { content: '\e80a'; }
.icon-search:before { content: '\e80b'; }
.icon-play-circled:before { content: '\e80c'; }
.icon-pause:before { content: '\e80d'; }
.icon-play:before { content: '\e80e'; }
.icon-location:before { content: '\f031'; }
.icon-facebook-circled:before { content: '\f051'; }
.icon-github-circled:before { content: '\f054'; }
.icon-twitter-circled:before { content: '\f057'; }
.icon-gplus-circled:before { content: '\f059'; }
.icon-user:before { content: '\f061'; }
.icon-ok-circled:before { content: '\f06d'; }
.icon-cancel-circled:before { content: '\f06e'; }
.icon-spinner:before { content: '\f528'; }

html, body, div, span, h1, h2, p, a, img, b, i, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

footer, header { display: block }

@-ms-viewport { width: device-width }

html, body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: #000;
  padding: 6em 4em 4em 4em;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.65em
}

body > * { position: relative; z-index: 2 }

header { pointer-events: none }
header h1 { font-size: 3.25em; margin: 0 0 0.55em 0 }
header p { font-size: 1.35em; line-height: 1.65em }
header a { color: inherit; pointer-events: auto }

footer {
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  bottom: 4em;
  color: rgba(255, 255, 255, 0.5);
  left: 4em;
  opacity: 0.5;
  position: absolute
}
menu { top: 4em; left: 4em; z-index: 3 }
loading {
  position: absolute;
  width: 24px;
  top: 4em;
  right: 4em
}
loading span { font-size: 22px }

footer p { margin: 0px }
footer .heart {
  background-color: red;
  display: inline-block;
  height: 16px;
  margin: 0 10px;
  position: relative;
  top: 4px;
  transform: rotate(-45deg);
  width: 16px
}
footer .heart:before, footer .heart:after {
  content: '';
  background-color: red;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
  top: -50%;
  left: 0;
}
footer .heart:after { left: 50%; top: 0 }

@media screen and (max-width: 1680px) {
  body, input, select, textarea { font-size: 12pt }
  body { padding: 6em 3.5em 3.5em 3.5em }
  footer { bottom: 3.5em; left: 3.5em }
  menu { left: 3.5em; top: 3.5em }
  loading { right: 3.5em; top: 3.5em }

  .lefty { left: 3.5em; right: auto }
  .righty { right: 3.5em; left: auto }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea { font-size: 11pt}
}

@media screen and (max-width: 980px) {
  body, input, select, textarea { font-size: 12pt }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea { font-size: 12pt }
  body { padding: 5em 2em 2em 2em }
  header h1 { font-size: 2em }
  header p { font-size: 1em }
  footer { bottom: 2em; left: 2em }
  menu { left: 2em; top: 2em }
  loading { right: 2em; top: 2em }

  .lefty { left: 2em; right: auto }
  .righty { right: 2em; left: 0 }
}

@media screen and (max-height: 640px) {
  html, body { height: auto; min-height: 100% }
}

@media screen and (max-width: 480px) {
  body, input, select, textarea { font-size: 12pt }
  html, body { min-width: 320px }
  header { margin: 0 0 1em 0 }
}

@media screen and (max-width: 360px) {
  body { padding: 5em 1.25em 1.25em 1.25em }
  footer { bottom: 1.25em; left: 1.25em }
  menu { top: 1.25em; left: 1.25em }
  loading { top: 1.25em; right: 1.25em  }

  .lefty { left: 1.25em; right: auto }
  .righty { right: 1.25em; left: auto }
}

a {
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
  color: #1cb495;
  text-decoration: none
}

a:hover {
  border-bottom-color: transparent;
  color: #1cb495 !important;
  text-decoration: none
}

.login-btns a:before, .login-btns a:after { margin: 0px }
.login-btns a, .login-btns a:hover {
  color: white;
  font-size: 2.6em;
  border-bottom: 0px;
  transition: none;
  margin-right: 0.3em
}

p { margin: 0 0 2em 0 }

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; text-decoration: none }

header h1 { font-size: 100px !important }
header h2 { font-size: 1.35em; font-weight: 500 }

#bg-map, map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: auto;
  background: #0e0e0e !important
}
#bg-map .leaflet-container { background: #0e0e0e !important }
#bg-map .leaflet-control-attribution { display: none !important }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink { 0% { opacity:1 } 50% { opacity:0; } 100% { opacity:1 } }
@-webkit-keyframes blink { 0% { opacity:1 } 50% { opacity:0 } 100% { opacity:1 } }
@-moz-keyframes blink { 0% { opacity:1 } 50% { opacity:0 } 100% { opacity:1 } }


.toleft, .toright {
  position: relative;
  float: left
}
.toright { float: right }

menu {
  position: absolute;
  max-width: 340px;
  margin: 0px;
  padding: 0px;
  z-index: 3
}
menu form div { margin-left: 14px }
menu form div span { color: white }
menu form div input {
  outline: none;
  border: 0px;
  padding: 8px 8px 4px 24px;
  font-size: 18px;
  margin-left: -23px;
  letter-spacing: 0.3px;
  min-width: 280px;
  color: white;
  background: transparent;
  border-bottom: 1px solid white
}
menu submenu {
  width: 333px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 6px 3px
}
menu submenu ul { padding: 12px 0px }
menu submenu ul li { padding: 1px 16px /*padding: 8px 16px*/ }
menu submenu ul li a {
  color: white;
  font-size: 18px;
  letter-spacing: 0.3px
}
menu submenu ul li a i {
  font-style: italic;
  color: rebeccapurple;
  margin-left: 8px
}
menu submenu ul li a span { color: red }
menu submenu ul li.big {
  padding: 8px 16px;
  line-height: 33px
}

.slideup, .slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out
}
.slidedown {
  max-height: 407px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 6px 6px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 2px 0 0 2px;
  max-height: 36px;
  overflow: visible
}
.hamburger:hover { opacity: 0.7 }
.hamburger-box {
  width: 28px;
  height: 24px;
  display: inline-block;
  position: relative;
  pointer-events: none
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease
}
.hamburger-inner::before, .hamburger-inner::after { content: ""; display: block }
.hamburger-inner::before { top: -10px }
.hamburger-inner::after { bottom: -10px }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.spinner {
  position: absolute;
  -moz-animation: spinner 0.5s infinite linear;
  -webkit-animation: spinner 0.5s infinite linear;
  animation: spinner 0.5s infinite linear
}
.icon-location { font-size: 22px; background-color: transparent !important }
.icon-location:before { margin-left: -5px }
.leaflet-popup-content-wrapper, .leaflet-popup-tip { background-color: rgba(0, 0, 0, 0.8) !important }
.leaflet-popup-content {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px
}
.leaflet-popup-content a {
  color: white !important;
  font-size: 18px;
  letter-spacing: 0.3px
}
.leaflet-popup-content a:hover { color: #1cb495 !important }
.leaflet-popup-content i {
  font-style: italic;
  color: rebeccapurple;
  margin-left: 8px
}
.leaflet-popup-content p { margin: 6px 0px !important; color: white }
.reddish { color: tomato }

@-moz-keyframes spinner {
  0% { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(359deg) }
}
@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(359deg) }
}
@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(359deg) }
}


.round {
  position: relative;
  margin: 6px 2px;
  float: left;
  height: 0px
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px
}

.round.big label {
  width: 20px;
  height: 20px
}
.big .round { margin: 6px 10px 6px 0px }

.round input[type="checkbox"] { visibility: hidden }
.round input[type="checkbox"]:checked + label:after { opacity: 1 }


.pin-city, .round.pin-city input[type="checkbox"]:checked + label
  { color: #3cb44b; background-color: #3cb44b }
.pin-town, .round.pin-town input[type="checkbox"]:checked + label
  { color: #ffe119; background-color: #ffe119 }
.pin-village, .round.pin-village input[type="checkbox"]:checked + label
  { color: #0082c8; background-color: #0082c8 }
.pin-hamlet, .round.pin-hamlet input[type="checkbox"]:checked + label
  { color: #f58231; background-color: #f58231 }
.pin-suburb, .round.pin-suburb input[type="checkbox"]:checked + label
  { color: #911eb4; background-color: #911eb4 }
.pin-farm, .round.pin-farm input[type="checkbox"]:checked + label
  { color: #46f0f0; background-color: #46f0f0 }
.pin-isolated_dwelling, .round.pin-isolated_dwelling input[type="checkbox"]:checked + label
  { color: #f032e6; background-color: #f032e6 }

.round, .round input[type=checkbox] + label { background-color: transparent }

/*  */

.round.pin-city input[type="checkbox"] + label { border-color: #3cb44b }
.round.pin-town input[type="checkbox"] + label { border-color: #ffe119 }
.round.pin-village input[type="checkbox"] + label { border-color: #0082c8 }
.round.pin-hamlet input[type="checkbox"] + label { border-color: #f58231 }
.round.pin-suburb input[type="checkbox"] + label { border-color: #911eb4 }
.round.pin-farm input[type="checkbox"] + label { border-color: #46f0f0 }
.round.pin-isolated_dwelling input[type="checkbox"] + label { border-color: #f032e6 }

.pin-reddish {
  text-shadow: 0px 0px 10px red, 2px 1px 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red
}

.pin-isolated label {
  box-shadow: 0px 0px 14px red;
  border: 1px red solid
}
.round.pin-isolated input[type="checkbox"]:checked + label { background-color: red }



